theme = "catppuccin_frappe"
[editor]
line-number = "relative"
cursorline = true
color-modes = true

[editor.lsp]
display-inlay-hints = true

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true
